---
import { Image } from "astro:assets";

import SBSImg from "../assets/images/handshake.jpeg";
---

<!-- Side By Side -->
<section id="sbs-2291">
    <div class="cs-container">
        <!-- Left Content Section-->
        <div class="cs-content">
            <!-- <span class="cs-topper">Featured service</span> -->
            <h2 class="cs-title">Websites Built to Perform</h2>
            <p class="cs-text">
                Get your website done right with Bay Breeze Web Studios. We
                design and develop modern, responsive websites that reflect your
                brand and deliver real results. Whether you need a clean
                business site, a full redesign, or a custom built project, we’ll
                make sure your online presence works as hard as you do.
            </p>
            <div class="cs-features">
                <h3 class="cs-h3">Key Features:</h3>
                <ul class="cs-ul">
                    <li class="cs-li">Optimized for speed, SEO, and mobile</li>
                    <li class="cs-li">
                        Designs built specifically for your business goals
                    </li>
                    <li class="cs-li">
                        Reliable delivery that gets your website live without
                        delays
                    </li>
                </ul>
            </div>
            <a
                class="cs-button-solid"
                aria-label="learn more about our programs"
                href="">Read More</a
            >
        </div>
        <!-- Right Image Section -->
        <div class="cs-image-group">
            <!--Floating Box-->
            <div class="cs-box">
                <!-- <span class="cs-number">12K+</span> -->
                <div class="cs-flex">
                    <h3 class="cs-heading">We Get the Job Done</h3>
                    <span class="cs-desc">
                        From concept to launch, we focus on building websites
                        that work.
                    </span>
                </div>
            </div>
            <!--Image-->
            <picture class="cs-picture">
                <Image
                    src={SBSImg}
                    alt=""
                    format="webp"
                    height={1250}
                    width={1000}
                    quality={"high"}
                />
                <!-- <source
                    media="(max-width: 600px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg"
                />
                <source
                    media="(min-width: 601px)"
                    srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg"
                />
                <img
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/construction3.jpg"
                    alt="meeting"
                    width="630"
                    height="630"
                    aria-hidden="true"
                /> -->
            </picture>
        </div>
    </div>
</section>

<style>
    /*-- -------------------------- -->
    <---       Side By Side         -->
    <--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #sbs-2291 {
            padding: var(--sectionPadding);
            overflow: hidden;
        }
        #sbs-2291 .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: 36.5rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 3rem;
        }
        #sbs-2291 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 10;
        }
        #sbs-2291 .cs-text {
            margin-bottom: 1rem;
        }
        #sbs-2291 .cs-text:last-of-type {
            margin-bottom: 2rem;
        }
        #sbs-2291 .cs-features {
            width: 100%;
            margin: 0 0 2rem;
            /* 24px - 32px */
            padding: clamp(1.5rem, 4vw, 2rem);
            background-color: #fef5f4;
            border-left: 0.25rem solid var(--secondary);
        }
        #sbs-2291 .cs-h3 {
            font-size: 1rem;
            font-weight: 700;
            line-height: 1.5em;
            margin: 0 0 0.75rem;
            color: var(--headerColor);
        }
        #sbs-2291 .cs-ul {
            font-size: 0.75rem;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
        #sbs-2291 .cs-li {
            font-size: 1rem;
            line-height: 1.5em;
            list-style: none;
            /* 20px - 24px */
            padding-left: clamp(1.25rem, 3vw, 1.5rem);
            color: var(--bodyTextColor);
            position: relative;
        }
        #sbs-2291 .cs-li::before {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            margin-top: 0.5rem;
            background-color: var(--secondary);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(45deg);
        }
        #sbs-2291 .cs-button-solid {
            font-size: 1rem;
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: 9.375rem;
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 1.5rem;
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;
        }
        #sbs-2291 .cs-button-solid:before {
            content: "";
            width: 0%;
            height: 100%;
            background: #000;
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }
        #sbs-2291 .cs-button-solid:hover {
            color: #fff;
        }
        #sbs-2291 .cs-button-solid:hover:before {
            width: 100%;
        }
        #sbs-2291 .cs-image-group {
            width: 100%;
            height: 126vw;
            max-height: 39.125rem;
            display: block;
            order: -1;
            position: relative;
            z-index: 1;
        }
        #sbs-2291 .cs-picture {
            /* big background image */
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            bottom: 5.9375rem;
            left: 0;
        }
        #sbs-2291 .cs-picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
        #sbs-2291 .cs-box {
            text-align: left;
            width: 91%;
            max-width: 28.125rem;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 24px - 32px */
            padding: clamp(1.5rem, 3vw, 2rem);
            background-color: #818cd9;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            column-gap: 1.5rem;
            row-gap: 0.5rem;
            position: absolute;
            right: 50%;
            bottom: 0;
            z-index: 10;
            transform: translate(50%);
        }
        #sbs-2291 .cs-number {
            /* 31px - 49px */
            font-size: clamp(1.9375rem, 4vw, 3.0625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0;
            color: var(--General-Secondary, #ffc219);
        }
        #sbs-2291 .cs-heading {
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 0.5rem;
            color: white;
        }
        #sbs-2291 .cs-desc {
            font-size: 1rem;
            line-height: 1.5em;
            color: white;
        }
        #sbs-2291 .cs-graphic {
            width: 150%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #sbs-2291 .cs-box {
            flex-direction: row;
            align-items: center;
        }
    }
    /* Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #sbs-2291 .cs-container {
            max-width: 80rem;
            flex-direction: row;
            align-items: stretch;
            gap: 1.25rem;
        }
        #sbs-2291 .cs-content {
            padding-left: 3.25rem;
            padding-bottom: 6.75rem;
        }
        #sbs-2291 .cs-image-group {
            height: auto;
            min-height: 40.125rem;
            max-height: 100%;
        }
        #sbs-2291 .cs-picture {
            bottom: 4rem;
        }
    }
    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode #sbs-2291 .cs-title,
        body.dark-mode #sbs-2291 .cs-text,
        body.dark-mode #sbs-2291 .cs-h3,
        body.dark-mode #sbs-2291 .cs-li,
        body.dark-mode #sbs-2291 .cs-heading,
        body.dark-mode #sbs-2291 .cs-desc {
            color: var(--bodyTextColorWhite);
        }
        body.dark-mode #sbs-2291 .cs-text,
        body.dark-mode #sbs-2291 .cs-li,
        body.dark-mode #sbs-2291 .cs-desc {
            opacity: 0.8;
        }
        body.dark-mode #sbs-2291 .cs-features,
        body.dark-mode #sbs-2291 .cs-box {
            background-color: var(--medium);
        }
    }
</style>
