---
import { Image } from "astro:assets";

import WebDesignIMG from "../assets/images/web-design.jpeg";
---

<section id="sbs-2346">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">
                You Just Proved That These Websites Actually Work. Let's Build
                You One
            </h2>
            <p class="cs-text">
                Grabbing people's attention today can be a challenge. We build
                sites that continuously evolve in order to be captivating to
                prospecting clients. In doing so, we ensure clicks turn into
                sales, sales into relationships. Allow us to build your dream
                site today!
            </p>
            <a href="" class="cs-button-solid">Learn More</a>
        </div>
        <picture class="cs-picture">
            <Image
                src={WebDesignIMG}
                alt=""
                format="webp"
                height={1250}
                width={1000}
                quality={"high"}
            />
        </picture>
    </div>
</section>

<!-- ============================================ -->
<!--                 Services                     -->
<!-- ============================================ -->

<section id="services-2346">
    <ul class="cs-card-group">
        <li class="cs-item">
            <div class="cs-link">
                <img
                    class="cs-icon"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch7.svg"
                    alt="icon"
                    width="24"
                    height="24"
                />
                <h2 class="cs-h2">Transparent Pricing</h2>
                <p class="cs-item-text">
                    Choose affordable plans, monthly or lump-sum options, with
                    absolutely no surprises to pull ahead of the competition.
                </p>
            </div>
        </li>
        <li class="cs-item">
            <div class="cs-link">
                <img
                    class="cs-icon"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch8.svg"
                    alt="icon"
                    width="24"
                    height="24"
                />
                <h2 class="cs-h2">Performance Guaranteed</h2>
                <p class="cs-item-text">
                    Hand written code and architecture chosen for speed,
                    stability, and maintainability. No AI code used ever
                </p>
            </div>
        </li>
        <li class="cs-item">
            <div class="cs-link">
                <img
                    class="cs-icon"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch9.svg"
                    alt="icon"
                    width="24"
                    height="24"
                />
                <h2 class="cs-h2">Reliable Delivery</h2>
                <p class="cs-item-text">
                    The average time to deliver the site is 2 weeks, ensuring
                    your site is free of bugs and issues
                </p>
            </div>
        </li>
        <li class="cs-item">
            <div class="cs-link">
                <img
                    class="cs-icon"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/arch10.svg"
                    alt="icon"
                    width="24"
                    height="24"
                />
                <h2 class="cs-h2">Free Website Redesign</h2>
                <p class="cs-item-text">
                    Staying on our monthly plan for 3 years, you are guaranteed
                    a free website redesign, allowing your business to stay
                    modern
                </p>
            </div>
        </li>
    </ul>
</section>

<style>
    /*-- -------------------------- -->
    <---       Side By Side         -->
    <--- -------------------------- -*/

    /* Mobile */
    @media only screen and (min-width: 0rem) {
        #sbs-2346 {
            padding: var(--sectionPadding);
            padding-bottom: 0;
            /* clips anything overflowing */
            overflow: hidden;
            position: relative;
            z-index: 1;
        }
        #sbs-2346 .cs-container {
            width: 100%;
            max-width: 112.5rem;
            margin: auto;
            /* 16px - 80px */
            padding: clamp(1rem, 5vw, 5rem);
            padding-bottom: 0;
            box-sizing: border-box;
            background-color: #f7f7f7;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
        #sbs-2346 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: 47.875rem;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }
        #sbs-2346 .cs-text {
            margin-bottom: 1rem;
        }
        #sbs-2346 .cs-text:last-of-type {
            margin-bottom: 2rem;
        }
        #sbs-2346 .cs-button-solid {
            font-size: 1rem;
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: 9.375rem;
            margin: 0;
            padding: 0 1.5rem;
            background-color: var(--primary);
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;
            z-index: 1;
        }
        #sbs-2346 .cs-button-solid:before {
            content: "";
            width: 0%;
            height: 100%;
            background: #000;
            opacity: 1;
            border-radius: 0.25rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }
        #sbs-2346 .cs-button-solid:hover:before {
            width: 100%;
        }
        #sbs-2346 .cs-picture {
            width: 100%;
            height: 95vw;
            max-height: 28.125rem;
            display: block;
            order: -1;
            position: relative;
            z-index: 1;
        }
        #sbs-2346 .cs-picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #sbs-2346 .cs-container {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }
        #sbs-2346 .cs-content {
            /* 48px - 80px */
            padding: clamp(3rem, 6vw, 5rem) 0;
        }
        #sbs-2346 .cs-picture {
            width: 43vw;
            height: auto;
            max-height: 100%;
            max-width: 50.625rem;
            flex: none;
        }
    }
    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode #sbs-2346 .cs-container {
            background-color: rgba(0, 0, 0, 0.2);
        }
        body.dark-mode #sbs-2346 .cs-h2,
        body.dark-mode #sbs-2346 .cs-item-text {
            color: var(--bodyTextColorWhite);
            border-color: rgba(255, 255, 255, 0.2);
        }
        body.dark-mode #sbs-2346 .cs-icon {
            filter: grayscale(1) brightness(1000%);
        }
        body.dark-mode #sbs-2346 .cs-item-text {
            opacity: 0.8;
        }
    }

    /*-- -------------------------- -->
    <---          Services          -->
    <--- -------------------------- -*/

    /* Mobile */
    @media only screen and (min-width: 0rem) {
        #services-2346 {
            padding: var(--sectionPadding);
            padding-top: 0;
        }
        #services-2346 .cs-card-group {
            width: 100%;
            max-width: 112.5rem;
            margin: 0 auto;
            /* 48px - 80px */
            padding: clamp(1rem, 5vw, 5rem);
            /* 48px - 64px */
            padding-top: clamp(3rem, 7vw, 4rem);
            background-color: #f1eeec;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px, changes to 100px at large desktop 1300px */
            column-gap: clamp(1rem, 3vw, 1.25rem);
            row-gap: 2rem;
        }
        #services-2346 .cs-item {
            list-style: none;
            text-align: left;
            margin: 0;
            padding: 0;
            grid-column: span 12;
        }
        #services-2346 .cs-link {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        #services-2346 .cs-icon {
            width: 1.5rem;
            height: auto;
            margin-bottom: 1.5rem;
            display: block;
        }
        #services-2346 .cs-h2 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            text-align: inherit;
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 1rem;
            padding-bottom: 1rem;
            height: 100%;
            color: var(--headerColor);
            border-bottom: 1px solid #e3ddd9;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1rem;
        }
        #services-2346 .cs-icon {
            width: 1.5rem;
            height: auto;
            display: block;
        }
        #services-2346 .cs-item-text {
            font-size: 1rem;
            text-align: inherit;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {
        #services-2346 .cs-item {
            grid-column: span 6;
        }
    }
    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
        #services-2346 .cs-item {
            grid-column: span 3;
        }
    }
    /* Large Desktop - 1300px */
    @media only screen and (min-width: 81.25rem) {
        #services-2346 .cs-card-group {
            column-gap: 6.25rem;
        }
    }
    /* Dark Mode */
    @media only screen and (min-width: 0rem) {
        body.dark-mode #services-2346 .cs-card-group {
            background-color: rgba(0, 0, 0, 0.2);
        }
        body.dark-mode #services-2346 .cs-h2,
        body.dark-mode #services-2346 .cs-item-text {
            color: var(--bodyTextColorWhite);
            border-color: rgba(255, 255, 255, 0.2);
        }
        body.dark-mode #services-2346 .cs-icon {
            filter: grayscale(1) brightness(1000%);
        }
        body.dark-mode #services-2346 .cs-item-text {
            opacity: 0.8;
        }
    }
</style>
